In [1]:
"""
start this replacement for ephem
sudo pip install skyfield
see 
http://rhodesmill.org/skyfield/positions.html
"""

'\nstart this replacement for ephem\nsudo pip install skyfield\nsee \nhttp://rhodesmill.org/skyfield/positions.html\n'

In [2]:
from skyfield.api import earth, mars, now,sun
ra, dec, distance = earth(now()).observe(mars).radec()

print ra
print dec
print distance

02h 59m 15.13s
+17deg 07' 47.1"
2.44688872034 AU

In [3]:
boston = earth.topos('42.3583 N', '71.0636 W')
alt, az, d = boston(now()).observe(mars).apparent().altaz()

print alt
print az

53deg 34' 12.3"
124deg 11' 41.3"

In [4]:
from skyfield.api import earth, jupiter
print earth(utc=(1980, 1, 1)).position.AU
print jupiter(utc=(1980, 1, 1)).position.AU

[-0.16287311  0.88787399  0.38473904]
[-4.71061475  2.32932129  1.11328106]

In [5]:
astro = earth(utc=(1980, 1, 1)).observe(jupiter)
print astro.position.AU
ra, dec, distance = astro.radec()
print ra.hstr()
print dec.dstr()
print distance.AU
apparent = astro.apparent()
print earth(utc=(2014, 1, 1)).position.AU
ra, dec, distance = apparent.radec(epoch='date')

[-4.54763822  1.44160883  0.72860876]
10h 49m 38.71s
+08deg 41' 00.6"
4.82598384993
[-0.17461758  0.88567056  0.38384886]

In [6]:
boston = earth.topos('42.3583 N', '71.0603 W')
astro = boston(utc=(1980, 1, 1)).observe(jupiter)
alt, az, distance = astro.apparent().altaz()
print alt.dstr()
print az.dstr()
print distance.AU

-23deg 22' 47.8"
51deg 43' 29.6"
4.82600082194

In [7]:
from skyfield.api import JulianDate
jd=JulianDate(utc=(2014, 1, 18))
print jd.tai

2456675.50041

In [8]:
from skyfield.api import earth

jd = JulianDate(utc=(2014, 1, 1))
print earth(jd).position.AU

print earth(utc=(2014, 1, 1)).position.AU

[-0.17461758  0.88567056  0.38384886]
[-0.17461758  0.88567056  0.38384886]

In [9]:
kat=earth.topos('30.72148 S','21.41068 E')

In [10]:
kat.elevation=1038
print kat.ephemeris

<skyfield.jpllib.Ephemeris object at 0x36d7190>

In [17]:
alt,az,d= kat(now()).observe(sun).apparent().altaz()
print alt, az

ra,dec,d = kat(now()).observe(sun).apparent().radec()
print ra,dec

02deg 33' 51.5" 286deg 39' 17.6"
02h 06m 45.17s +12deg 49' 49.9"

In [18]:
print alt,az,d,ra,dec,distance

02deg 33' 51.5" 286deg 39' 17.6" 1.00573102244 AU 02h 06m 45.17s +12deg 49' 49.9" 4.82600082194 AU

In [19]:
print kat.up ,kat.west,kat.north, kat.longitude, kat.latitude

[ 0.80033371  0.31381946 -0.51086524] [ 0.36505033 -0.93098779  0.        ] [ 0.4756093   0.18649152  0.85966081] 0.373686861091 -0.536190977086

In [23]:
#from skyfield import coordinates as c
from skyfield import starlib as src

In [27]:
x=src.Star(ra_hours=13.4,dec_degrees=-11.3)

In [30]:
x.ra, x.dec #degrees!
print x.ra, x.dec

201deg 00' 00.0" -11deg 18' 00.0"

In [31]:
o=x.observe_from(kat(now()))

In [32]:
print o.radec()[0] , o.radec()[1], o.radec()[2]
print o.velocity.AU_per_d

13h 24m 00.00s -11deg 18' 00.0" 2.06264806247e+14 AU
[ 0.00912619 -0.01323987 -0.00569901]

In [33]:
#astronomical unit
AU=149597871. #km
day=86400. #s
print AU/day

1731.45684028

In [34]:
o.velocity.AU_per_d*AU/day

array([ 15.80161007, -22.92426899,  -9.86759058])

In [35]:
dates=[(2014, 1, 1), (2014, 3, 1),(2014,6,1),(2014,9,1) ]
kms=149597871./86400 # from AU per day to km/s
#print dates[0]
for days in dates:
    o=x.observe_from(kat(utc=days))
    print o.velocity.AU_per_d*kms,days

[-30.13662418  -5.19261737  -2.15936024] (2014, 1, 1)
[-10.60724784 -26.21181991 -11.18920372] (2014, 3, 1)
[ 27.97301985  -9.32368551  -4.04534479] (2014, 6, 1)
[ 10.51923357  25.70509408  10.96886246] (2014, 9, 1)