In [30]:
from astropy.coordinates import SkyCoord as sky
from astropy import units as u
c=sky("00h42m44.3s +41d16m9s",unit=(u.hourangle, u.deg),frame='icrs')
print c.ra,c.dec, c.ra.hms
print c.galactic.l, c.galactic.b
m32=sky.from_name("M32") #simbad lookup
print m32

10d41m04.5s 41d16m09s hms_tuple(h=0.0, m=42.0, s=44.30000000000021)
121d10m27.2797s -21d34m22.4004s
<SkyCoord (ICRS): (ra, dec) in deg
    (10.6742708, 40.8651694)>

In [31]:
VirA=sky.from_name("M87")
print VirA
print VirA.ra,VirA.dec, VirA.ra.hms

<SkyCoord (ICRS): (ra, dec) in deg
    (187.70593075, 12.39112331)>
187d42m21.3507s 12d23m28.0439s hms_tuple(h=12.0, m=30.0, s=49.423380000010297)

In [32]:
print VirA.fk4

<SkyCoord (FK4: equinox=B1950.000, obstime=B1950.000): (ra, dec) in deg
    (187.07323121, 12.6671866)>

In [33]:
off1=sky("12h10m52s 12d23m20.00s",unit=(u.hourangle, u.deg),frame='icrs')
# aiming for 182.08 12.667 which was used at 21cm and 6cm
print off1.fk4
print off1.ra.hms, off1.dec

<SkyCoord (FK4: equinox=B1950.000, obstime=B1950.000): (ra, dec) in deg
    (182.07860621, 12.66702045)>
hms_tuple(h=12.0, m=10.0, s=51.999999999999602) 12d23m20s

In [34]:
off2=sky("12h50m50s 12d23m42.00s",unit=(u.hourangle, u.deg),frame='icrs')
# aiming for 192.08 12.667 which was used at 21cm and 6cm
print off2.fk4
print off2.ra.hms, off2.dec

<SkyCoord (FK4: equinox=B1950.000, obstime=B1950.000): (ra, dec) in deg
    (192.08094982, 12.66688705)>
hms_tuple(h=12.0, m=50.0, s=50.000000000003553) 12d23m42s

In [35]:
virp=sky("192.08d 12.667d", unit=(u.deg,u.deg), frame='fk4')
print virp.fk5.ra.hms, virp.fk5.dec.dms
virm=sky("182.08d 12.667d", unit=(u.deg,u.deg), frame='fk4')
print virm.fk5.ra.hms, virm.fk5.dec.dms

print VirA.fk5.to_string('hmsdms',sep=':',precision=1)

print virp.fk5.to_string('hmsdms',sep=':',precision=1)
print virm.fk5.to_string('hmsdms',sep=':',precision=1)

hms_tuple(h=12.0, m=50.0, s=49.773465527945859) dms_tuple(d=12.0, m=23.0, s=42.39858337745062)
hms_tuple(h=12.0, m=10.0, s=52.335379926089587) dms_tuple(d=12.0, m=23.0, s=19.919267357222452)
12:30:49.4 +12:23:28.0
12:50:49.8 +12:23:42.4
12:10:52.3 +12:23:19.9

In [36]:
"""
Now for Taurus
J0534+2200 | *Tau A | Taurus A | 3C 144 | Crab | PKS 0531+21, radec, 05:34:31.97,  +22:00:52.1,                      
"""
import re
Tau=sky("82.88d   21.982d",unit=(u.deg,u.deg), frame='fk4')
r=Tau.fk5.ra.hms
d=Tau.fk5.dec.dms
x=Tau.fk5.to_string('hmsdms',sep=":",precision=1)
print "Taurus", x

Tau1=sky("70.904d   19.55d",unit=(u.deg,u.deg), frame='fk4')
x=Tau1.fk5.to_string('hmsdms',sep=":",precision=1)
print "Tau-",x
#
Tau2=sky("100.802d  24.93d",unit=(u.deg,u.deg), frame='fk4')
x=Tau2.fk5.to_string('hmsdms',sep=":",precision=1)
print "Tau+",x

Taurus 05:34:31.7 +22:00:52.9
Tau- 04:46:33.2 +19:38:21.8
Tau+ 06:46:16.6 +24:52:33.6

In [37]:
"""
           
"""

'\n           \n'